

/* Sidebar */
.sidebar {
  background-color: var(--primary-color);
  height: 100vh; /* Make the sidebar take up the full height of the page */
  display: flex;
  flex-direction: column;
}

.list-group {
  flex: 1; /* Make the list group take up the full height of the sidebar */
}

.list-group-item {
  background-color: var(--primary-color)!important;
  border-color: var(--primary-color)!important;
  margin-top: 10px;
}

.list-group-item:hover {
  background-color: var(--secondary-color)!important;
}

